body {
    background-color: #ECEFF1;
    font-family: Verdana;
    margin: auto;
}

header {
    background-image: url("background.jpg");
    background-color: #78909C;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 1px;
    opacity: 0.85;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: Megrim;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: #FAFAFA;
    margin: auto;
    position: absolute;
}

hr {
    color: #FAFAFA;
    width: 80%;
    height: 4px;
    border-top: 4px solid;
    border-bottom: 0;
}

.navigation {
    list-style-type: none;
    margin: auto;
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-around;
    border-color: #FAFAFA;
    border-style: solid;
    text-align: center;
    border-width: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: white;
    opacity: 0.6;
}

.nav-buttons {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 25%;
    margin: auto;
    padding: 1.5vh;
    opacity: 1;
    font-family: Libre Franklin;
    font-size: 2.5vmin;
}

.nav-buttons:hover {
    background-color: #a3db5a;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 85%;
    height: 85vh;
}

.cover-photo {
    height: 100%;
    width: 100%;
    background-image: url("cover-photo.jpg");
    background-color: #ECEFF1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.text {
    background-color: white;
    position: absolute;
    border-radius: 20px;
    width: 50vmin;
    text-align: center;
    font-family: Libre Franklin;
    padding: 5%;
    display: block;
    align-items: center;
    justify-content: center;
}

.greeting {
    font-size: 30px;
}

#days {
    background-color: #e5f2d5;
    border-radius: 20px;
    width: 60%;
    text-align: left;
    padding: 40px;
    padding-bottom: 40px;
    font-family: Libre Franklin;
    font-size: 40px;
    align-items: center;
    margin: 50px auto;
    font-size: 15px;
    color: black;
}

.sub {
    font-size: 18px;
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-size: 30px;
}

h4 {
    text-align: center;
    font-size: 25px;
    color: black;
}

h5 {
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.outer-picture {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inner-picture {
    position: absolute;
    width: 70%;
    height: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.suprasl {
    background-image: url(suprasl.jpg);
}

.kruszyniany {
    background-image: url(kruszyniany.jpg);
}

.odrynki {
    background-image: url(odrynki.jpg);
}

.bialowieza {
    background-image: url(białowieza.jpg);
}

.nocleg {
    background-image: url(nocleg.jpg);
}

.restauracja {
    background-image: url(restauracja.jpg);
}

.link {
    font-family: Raleway;
    font-size: 7vw;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline overline;
    transition: 0.3s all;
}

.link:hover {
    font-size: 8vw;
}

.map {
    position: absolute;
    width: 75%;
    top: 20%;
    padding: 2px;
}

text {
    position: absolute;
    text-align: center;
    font-family: Libre Franklin;
    color: white;
    font-size: 10vmin;
    margin: auto;
    text-decoration: overline;
    top: 5%;
    padding: 2%;
    padding-top: 0;
}